<!DOCTYPE html>
<!-- Definir idioma de la página -->
<html lang="es">

<head>
    <!-- Metadatos de la página -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título del documento -->
    <title>Sujeto Excluido</title>
    <!-- Mandar a llamar el framework -->
    <link href="../../resources/css/bootstrap.min.css" rel="stylesheet">
    <!-- Css de un boton naranja -->
    <link href="../../resources/css/color_de_botones.css">
    <!-- Css para la tabla responsive -->
    <link rel="stylesheet" href="../../resources/css/sidebar.css">
    <link rel="stylesheet" href="../../resources/css/Inicio.css">
    <link rel="stylesheet" href="../../resources/css/usuariofacturacion.css">
</head>

<!-- Cuerpo de la página -->

<body>
    <!-- Contenido principal de la página -->
    <main>
        <!-- CREAMOS FILAS Y COLUMNAS (ROW = FILAS, COL = COLUMNAS) -->
        <!-- CREAMOS EL CONTENEDOR PADRE DE LOS ELEMENTOS  BOTON AGREGAR Y LA BARRA DE BUSQUEDA-->
        <div class="container-fluid">
            <h3>Usuarios para factura sujeto excluido electrónico</h3>
            <!-- CREAMOS LA FILA Y COLUMNA DONDE COLOCAMOS EL BOTON "AGREGAR" Y LA "BARRA DE BUSQUEDA"-->
            <div class="row mt-5 row-gap-3">
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <form class="d-flex" id="formBuscar">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar nombre del cliente..."
                            name="buscarUsuario" id="buscarUsuario" oninput="verificarReset()">
                        <button class="btn" type="submit"><img src="../../resources/img/lupa.png" class="img-fluid"
                                width="35px" height="35px" alt="buscando"></button>
                    </form>
                </div>
                <div class="col-12 col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <!-- Botón para abrir el modal -->
                    <button type="button" class="btn btn-dark ms-5" onclick="abrirModal('Agregar usuario')"
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop">Agregar
                        Usuario</button>
                </div>
            </div>
            <!-- CREAMOS LA FILA DONDE COLOCAMOS LA TABLA DE LOS ELEMENTOS -->
            <div class="table-responsive-md mt-5" id="contenedorTabla">
                <table class="table" class="table table-striped">
                    <!-- CREAMOS LA CABECERA DE LA TABLA COLORES -->
                    <thead>
                        <tr>
                            <td colspan="12" id="filasEncontradas"></td>
                        </tr>
                        <tr>
                            <th class="text-center">Nombre</th>
                            <th class="text-center">Apellido</th>
                            <th class="text-center">NIT</th>
                            <th class="text-center">Dirección</th>
                            <th class="text-center">Departamento</th>
                            <th class="text-center">Municipio</th>
                            <th class="text-center">Email</th>
                            <th class="text-center">Teléfono</th>
                            <th class="text-center">DUI</th>
                            <th class="text-center">Tipo de servicio</th>
                            <th class="text-center">Monto</th>
                            <th class="text-center">Fecha de emisión</th>
                            <th class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody id="cuerpoTabla">
                        <tr>
                            <th scope="row">Ana</th>
                            <td>Rodríguez</td>
                            <td>anarodriguez@gmail.com</td>
                            <td>70123456</td>
                            <td>001234567-8</td>
                            <td>001-234567-123-4</td>
                            <td>Avenida avenida</td>
                            <td>San Salvador</td>
                            <td>Santa Tecla</td>
                            <td>Credito fiscal</td>
                            <td>01/01/2022</td>
                            <td>$1000</td>
                            <td id="celda-agregar-eliminar" class="text-center"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Modal agregar -->
        <div class="modal fade" id="modalSujeto" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="tituloModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <!-- Encabezado del modal -->
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="tituloModal"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form id="formSujeto">
                        <!-- Cuerpo del modal -->
                        <input type="hidden" id="id_factura" name="id_factura">
                        <div class="modal-body">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mb-md">
                                            <label for="descripcionServicio" class="col-form-label">Descripción del
                                                servicio:</label>
                                            <input type="text" class="form-control" id="descripcionServicio"
                                                name="descripcion" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="mb-md">
                                            <label for="monto" class="col-form-label">Monto del servicio:</label>
                                            <input type="number" class="form-control" id="monto" name="monto" required>
                                        </div>
                                        <div class="mb-md">
                                            <label for="tipoServicio" class="col-form-label">Tipo de servicio:</label>
                                            <select class="form-select" id="tipoServicio" name="tipoServicio" required>
                                                <option value="" selected>Selecciona una opción</option>
                                                <option value="Credito Fiscal">Crédito Fiscal</option>
                                                <option value="Factura Consumidor Final">Factura Consumidor Final
                                                </option>
                                                <option value="Factura Sujeto Excluido">Factura Sujeto Excluido</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                        </div>
                                        <div class="mb-md">
                                            <label for="id_servicio" class="col-form-label">Servicio:</label>
                                            <select class="form-select" id="id_servicio" name="id_servicio" required>
                                                <!-- Opciones del select -->
                                            </select>
                                        </div>
                                        <div class="mb-md">
                                            <label for="id_cliente" class="col-form-label">Clientes:</label>
                                            <select class="form-select" id="id_cliente" name="id_cliente" required>
                                                <!-- Opciones del select -->
                                            </select>
                                        </div>
                                        <div class="mb-md">
                                            <label for="fechaEmision" class="col-form-label">Fecha de emisión:</label>
                                            <input type="date" class="form-control" id="fechaEmision"
                                                name="fechaEmision" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Footer del modal -->
                        <div class="modal-footer d-flex justify-content-end">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn btn-warning" id="btnAccion">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!-- Modal eliminar -->
        <div class="modal fade" id="borrarModalSujeto">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="formEliminar">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="tituloModalEliminar"></h1>
                            <input type="number" class="d-none" id="idFactura" name="idFactura">
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <button type="button" class="btn btn-primary" onclick="eliminarServicio()">Eliminar</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </main>
    <!-- IMPORTANDO ARCHIVOS JAVASCRIPT -->
    <!-- Mandar a llamar el controlador de la página privada -->
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <!-- Mandar a llamar el framework -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <!-- Mandar a llamar el controlador de sujeto excluido -->
    <script src="../../controllers/admin/sujeto_excluido.js"></script>
    <!-- Llamada al controlador -->
    <script src="../../controllers/utils/componentes.js"></script>
    <!-- archivo de js para libreria de iconos para el navbar -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <!-- Mandar a llamar la librería de alertas -->
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
</body>

</html>