.btn-custom {
    background-color: #FF792C !important;
    border-color: #FF792C !important;
    color: white !important;
}

.btn-custom:hover {
    background-color: #FF5722 !important;
    border-color: #FF5722 !important;
}
